@import "colors";
@import "breakpoints";

.clients {
    padding: 0 0 80px;

    &__wrap {
        margin-bottom: 63px;

        .slick-track {
            display: flex;
            align-items: center;
        }
    }

    &__client-logo {
        text-align: center;
    }

    &__subscription-wrap {
        max-width: 986px;
        margin: 0 auto;
    }

    &__subscription {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $dark-cyan-color;
        border-radius: 2px;
        padding: 30px 50px;
    }

    &__subscription-title {
        max-width: 260px;
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 0.1px;
        text-transform: capitalize;
    }

    &__form {
        width: 50%;
        height: 58px;
        display: flex;
        background: $light-input-color;
        border-radius: 5px;
    }

    &__input {
        width: 74%;
        padding: 15px 20px;
        outline: none;
        border-radius: 5px;
        background: $light-input-color;

        &::placeholder {
            font-size: 14px;
            line-height: 2;
        }
    }

    &__btn {
        background: $accent-color;
        border-radius: 0px 5px 5px 0px;
        font-size: 14px;
        width: 26%;
        transition: all 0.2s ease;

        &:hover {
            border: 2px solid $accent-color;
            background: $dark-cyan-color;
            color: $accent-text-color;
        }
    }

    @media screen and (max-width: $breakpoint_md) Х
        
}