@import "colors";
@import "breakpoints";

.clients {
    padding: 0 0 80px;

    &__wrap {
        margin-bottom: 60px;

        .slick-track {
            display: flex;
            align-items: center;
        }
    }

    &__client-logo {
        text-align: center;
    }

    &__form {
        max-width: 986px;
        background: $dark-cyan-color;
        border-radius: 2px;
        margin: 0 auto;
        padding: 30px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__form-title {
        max-width: 258px;
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 0.1px;
        text-transform: capitalize;
    }

    &__input-wrap {
        width: 50%;
        height: 58px;
        background: $light-input-color;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }

    &__input {
        width: 100%;
        outline: none;
        border-radius: 5px;
        padding: 15px 20px;
        background: $light-input-color;
        
            &::placeholder {
                font-size: 14px;
                line-height: 2;
            }
    }

    &__btn {
        width: 117px;
        height: 100%;
        background: $accent-color;
        border-radius: 0px 5px 5px 0px;
        font-size: 14px;
        transition: all 0.2s ease;

        &:hover {
            border: 2px solid $accent-color;
            background: $dark-cyan-color;
            color: $accent-text-color;
        }
    }

    @media screen and (max-width: $breakpoint_md) {
        padding: 0 0 60px;

        .slick-dots li button::before {
            font-size: 25px;
            color: #fff;
        }

        &__form {
            max-width: 720px;
            padding: 30px 16px;
        }
    }

     @media screen and (max-width: $breakpoint_sm) {
        padding: 0 0 60px;

        &__form {
            max-width: 100%;
            flex-direction: column;
            text-align: center;
        }

        &__form-title {
            margin-bottom: 30px;
        }

        &__input-wrap {
            width: 80%;
            height: 58px;
            background: $light-input-color;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
        }
     }
}