// Bg colors
$accent-color: #FFA62B;
$cyan-color: #00A0C1;
$dark-cyan-color: #16697A;
$dark-background-color: #252B42;
$light-background-color: #FFF;
$light-input-color: #F9F9F9;
$disabled-color: #bdbdbd;


// Text colors
$accent-text-color: #FFA62B;
$text-color: #252B42;
$second-text-color: #737373;
$cyan-text-color: #00A0C1;
$light-text-color: #FFF;