@import "colors";
@import "breakpoints";

.contacts {
    padding: 0 0 80px;

    &__title-wrap {
        margin: 0 auto;
        max-width: 512px;
    }

    &__cards-wrap {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__card {
        background: $light-background-color;
        padding: 64px 50px;

        &_accent {
            background: $cyan-color;
            padding: 80px 50px;
        }
    }

    &__card-icon {
        width: 72px;
        margin: 0 auto 15px;
    }

    &__phone-icon {
        display: block;
        width: 72px;
        height: 72px;
    }

    &__place-icon {
        display: block;
        width: 57px;
        height: 71px;
        fill: $light-background-color;
    }

    &__mail-icon {
        display: block;
        width: 72px;
        height: 71px;
    }

    &__card-info-wrap {
        margin-bottom: 15px;
    }

    &__card-info {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.7;
        color: $text-color;

        &_accent {
            color: $light-text-color;
        }
    }

    &__card-title {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: $text-color;
        margin-bottom: 15px;

        &_accent {
            color: $light-text-color;
        }
    }

    &__card-btn {
        width: 160px;
        height: 44px;
        border: 2px solid $accent-color;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        color: $accent-text-color;
        transition: all 0.2s ease;

        &:hover {
            color: $light-text-color;
            background-color: $accent-color;
        }

        &_accent {
            border: 2px solid $light-background-color;
            color: $light-text-color;

            &:hover {
                color: $cyan-text-color;
                background-color: $light-background-color;
            }
        }
    }

    @media screen and (max-width: $breakpoint_md) {
        padding: 0;

        &__cards-wrap {
            margin-top: 40px;
            flex-direction: column;
        }

        &__card {
            width: 512px;
            min-height: 330px;
            padding: 50px;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    @media screen and (max-width: $breakpoint_sm) {
        &__title-wrap {
            max-width: 245px;
        }
        
        &__card {
            max-width: 330px;
        }
    }
}