.contacts {
    padding: 80px 0 149px;

    &__title-wrap {
        margin: 0 auto;
        max-width: 512px;
    }
    
    .title-section {
        text-align: center;
        max-width: 512px;
    
        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 1.4;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
    
        &__subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.4;
        }
    }

    &__cards-wrap {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 320px);
        justify-content: center;
        
    }

    &__card {
        min-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 64px 50px;

        &_light {
            background: #00A0C1;
            height: 110%;
            align-self: center;
            padding: 80px 50px;
        }
    }

    &__card-icon {
        width: 72px;
        margin: 0 auto;
    }

    &__phone-icon {
        display: block;
        width: 72px;
        height: 72px;
    }

    &__place-icon {
        display: block;
        width: 57px;
        height: 71px;
        fill: #fff;
    }

    &__mail-icon {
        display: block;
        width: 72px;
        height: 71px;
    }

    &__card-info-wrap {
        text-align: center;
    }

    &__card-info {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.7;
        color: #252B42;

        &_light {
            color: #fff;
        }
    }

    &__card-title {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: #252B42;

        &_light {
            color: #fff;
        }
    }

    &__card-btn {
        width: 160px;
        height: 44px;
        border: 2px solid #FFA62B;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        color: #FFA62B;
        transition: all 0.2s ease;

        &:hover {
            color: #fff;
            background-color: #FFA62B;
        }

        &_light {
            border: 2px solid #fff;
            color: #fff;

            &:hover {
                color: #00A0C1;
                background-color: #fff;
            }
        }
    }
}