@import "colors";
@import "breakpoints";

.features {
    padding: 0 0 80px;

    &__title-wrap {
        margin: 0 auto;
        max-width: 512px;
    }

    &__cards-wrap {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 33px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 240px;
        padding: 45px 37px;
        background: $light-background-color;
        text-align: center;
    }

    &__card-icon {
        display: block;
    }

    &__card-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.4;
        color: $text-color;
    }

    &__card-subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: $second-text-color;
    }

    @media screen and (max-width: $breakpoint_md) {
        padding: 0 0 64px;

        &__cards-wrap {
            max-width: 512px;
            margin: 48px auto 0;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: $breakpoint_sm) {

        &__title-wrap {
            max-width: 245px;
        }

        &__cards-wrap {
            max-width: 330px;
            grid-template-columns: repeat(1, 230px);
            justify-content: center;
        }
    }
}