@import "colors";
@import "breakpoints";

.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }

    &__top-title {
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 0.1px;
        margin-bottom: 10px;
    }

    &__top-subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
    }

    &__btn {
        width: 160px;
        height: 60px;
        background: $accent-color;
        border-radius: 5px;
        font-weight: 700;
        font-size: 14px;
        transition: all 0.2s ease;

        &:hover {
            border: 2px solid $accent-color;
            background: inherit;
            color: $accent-text-color;
        }
    }

    &__main-wrap {
        background: $dark-cyan-color;
    }

    &__main {
        padding: 50px 0;
        display: flex;
    }

    &__col {
        flex: 1 0 0;

        
        &_double {
            flex: 2 0 0;
        }

        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }

    &__col-title {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        margin-bottom: 20px;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.7;

        &_top {
            vertical-align: top;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__link-address {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.7;

        &_top {
            vertical-align: top;
        }
    }

    &__phone-icon {
        margin-right: 10px;
    }

    &__place-icon {
        margin-right: 10px;
    }

    &__mail-icon {
        margin-right: 10px;
    }

    &__bottom {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright-link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.7;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__social-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: center;
    }

    &__social-link {
        display: block;
        width: 24px;
        height: 24px;
    }

    &__twitter-link {
        height: 20px;
    }

    &__youtube-link {
        height: 18px;
    }
}