@import "colors";
@import "breakpoints";

.header {
    position: relative;

    &__top {
        min-height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {
        display: block;
        height: 36px;
    }

    &__logo {
        width: 200px;
        height: 100%;
        transition: fill .25s ease 0s;

        &:hover {
            fill: $cyan-color;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        margin-right: 26px;
    }

    &__item:not(:last-of-type) {
        margin-right: 24px;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.7;
        position: relative;
        transition: color 0.25s ease 0s;

        &::after {
            content: "";
            background: $cyan-color;
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: -8px;
            left: 0;
            transform: scaleX(0);
            transition: transform 0.25s ease;
        }

        &:hover {
            color: $cyan-text-color;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    &__search {
        width: 16px;
        height: 16px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.5);
            }
    }

    &__burger-icon {
        display: none;
    }

    &__main {
        width: 100%;
        padding: 80px 0 102px;
    }

    &__heading-wrap {
        margin-bottom: 80px;
    }

    &__heading {
        max-width: 600px;
        font-weight: 800;
        font-size: 58px;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__text {
        max-width: 400px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 35px;
    }

    &__btn-wrap {
        display: flex;
    }

    &__btn {
        width: 185px;
        height: 48px;
        border-radius: 37px;
        background: $accent-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 2;
        margin-right: 10px;

        &:hover {
            border: 2px solid $accent-color;
            background: none;
            color: $accent-text-color;
        }

        &:disabled {
            background: $disabled-color;
        }      
    }

    &__btn-link {
        display: block;
        width: 154px;
        height: 48px;
        border: 2px solid $light-background-color;
        border-radius: 37px;
        padding: 10px 0;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;

        &:hover {
            border: 2px solid $accent-color;
        }
    }

    &__cards-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    &__card {
        padding: 32px;
        background: $light-background-color;

        &_light {
            background: $cyan-color;
        }
    }

    &__card-icon {
        margin-bottom: 12px;
    }

    &__card-title {
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 0.1px;
        color: $text-color;
        margin-bottom: 12px;

        &_light {
            color: $light-text-color;
        }
    }

    &__card-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        color: $second-text-color;

        &_light {
            color: $light-text-color;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 793px;
        background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/header/main_img.png");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
    }

    @media screen and (max-width: $breakpoint_md) {

        &__background {
            background-position: center left;
        }

        &__menu {
            display: none;
        }

        &__search {
            display: none;
        }

        &__burger-icon {
            display: block;
            width: 31px;
            height: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background: $light-background-color;
            }

            &::after {
                content: "";
                display: block;
                width: 50%;
                height: 3px;
                background: $light-background-color;
            }
        }

        &__burger-icon-inner {
            display: block;
            width: 75%;
            height: 3px;
            background: $light-background-color;
        }

        &__main {
            padding: 75px 0 64px;
        }

        &__heading-wrap {
            margin-bottom: 36px;
        }

        &__heading {
            max-width: 346px;
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        &__text {
            max-width: 290px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        &__btn-wrap {
            flex-direction: column;
            min-height: 120px;
            justify-content: space-between;
            align-items: center;
        }

        &__btn {
            margin-right: 0;
        }

        &__cards-wrap {
            grid-template-columns: 1fr;
            gap: 30px;
            max-width: 512px;
            margin: 0 auto;
        }

        &__card {
            padding: 37px 40px 35px;
        }

        &__card-icon {
            margin-bottom: 10px;
        }

        &__card-title {
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width: $breakpoint_sm) {

        &__main {
            padding: 80px 0 64px;
        }

        &__heading-wrap {
            margin-bottom: 80px;
        }

        &__cards-wrap {
            max-width: 328px;
        }

        // &__background {
        //     height: 100%;
        // }
    }
}