@import "colors";
@import "breakpoints";

.practice {
    padding: 0 0 80px;

    &__title-wrap {
        margin: 0 auto;
        max-width: 512px;
    }

    &__cards-wrap {
        margin-top: 44px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 33px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $light-background-color;
    }
    
    &__card-content {
        padding: 30px;
    }

    &__card-title {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: $text-color;
        margin-bottom: 16px;
    }

    &__card-subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        color: $second-text-color;
    }

    &__card-img {
        width: 100%;
    }

    @media screen and (max-width: $breakpoint_md) {
        padding: 0 0 64px;

        &__cards-wrap {
            max-width: 512px;
            margin: 44px auto 0;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: $breakpoint_sm) {

        &__title-wrap {
            max-width: 245px;
        }

        &__cards-wrap {
            max-width: 330px;
            grid-template-columns: repeat(1, 230px);
            gap: 30px;
            justify-content: center;
        }
    }
}