@import "colors";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $dark-background-color;
    color: $light-text-color;
    letter-spacing: 0.2px;
}

.container {
    max-width: 1092px;
    margin: 0 auto;
    padding: 0 16px;
}

@import "header";
@import "features";
@import "practice";
@import "about";
@import "clients";
@import "contacts";
@import "footer";